{% extends "admin/index.html" %}

{% block content_dashboard %}

    <style>
        .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-width: 100%;
            text-align: left;
            line-height: 1;
            padding: 0.1rem !important;
        }

        .card-small {
            margin-bottom: 0.1rem !important;
            padding: 0.4rem !important;
            font-size: 0.80rem;
            max-height: 190px;
            overflow: auto;
        }

        .card-small .table th{
            padding: 0.2rem !important;
            text-align: left;
            font-weight: normal;
        }

        .truncate-text {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 140px;
        }

        .card-small .table tr:first-child th {
            border: none !important;
        }

        .card-small .table td {
            padding: 0.2rem !important;
            text-align: right;
            border-bottom: none !important;
        }

        .card-small .card-header {
            padding: 0.4rem 0.4rem;
        }

        .card-small .card-header h5 {
            font-size: 0.9rem;
            margin: 0;
            text-align: left;
        }
        
        .card-small .table {
            margin-bottom: 0;
        }

        .card-small .card-body {
            padding: 0.20rem !important;
        }
    </style>

<div class="container-fluid">
    <div class="row">
        {% for widget in widgets %}
            <div class="col-lg-2 col-md-5 col-sm-6 mb-3">
                <div class="card h-100 shadow-sm card-small">
                    <div class="card-header">
                        <h5 class="mb-0 text-center card-title" title="{{ widget.block_name }}">
                            {{ widget.block_name }}
                        </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm mb-0">
                            {% for item in widget.items %}
                                <tr>
                                    <th>
                                        <div class="truncate-text" title="{{ item.title }}">
                                            {{ item.title }}
                                        </div>
                                    </th>
                                    <td>
                                        <a href="{{ item.url }}">{{ item.count }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}