<!--Impresión de Papeleta para Reciba-->
{% extends "admin/packhouses/header-footer.html" %}
{% load i18n %}

{% block page_content %}
{% load static %}
<style>
    @font-face {
        font-family: 'Futura';
        src: url('../../../static/fonts/Futura.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'Futura', sans-serif;
        font-size: 8pt;
        margin: 0;
        padding: 0;
    }
.title {
    display: flex;
    background-color: #ffc600;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2px;
}

.title h2 {
    font-size: 10pt;
}

.title-2{
    display: flex;
    background-color: #ffc600;
    width: 33%;
    height: 35px;
    padding-left: 2px;
    border-left: 10px solid #123782;  
    align-items: center;    
    font-size: 10pt;  
}

.flexbox-info {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flexbox-info > div {
    width: 33.3%;
    background: #fff;
}
.flexbox-info > div p {
    margin-top: 0px;
    border-bottom: 1px solid black;
}

.flexbox-info-2 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flexbox-info-2 > div {
    width: 50%;
    background: #fff;
}
.flexbox-info-2 > div p {
    margin-top: 0px;
    border-bottom: 1px solid black;
}

.inspection-table, .crew-table, .vehicle-table, .dry-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4px;
}

.inspection-table th{
    text-align: center;
    background-color: #fff4cc;
    vertical-align: middle;  
    border: 1px solid #000000;  
    min-height: 25px;
    line-height: 25px;        
    text-align: center;
}
.inspection-table td {
    border: 1px solid #000;
    text-align: left;
    min-height: 20px; 
    vertical-align: middle;
    padding-left: 3px;
}

.crew-table th{
    text-align: center;
    background-color: #fff4cc;
    vertical-align: middle;  
    border: 1px solid #000000;  
    min-height: 25px;
    line-height: 25px;        
    text-align: center;
}
.crew-table td {
    border: 1px solid #000;
    text-align: left;
    min-height: 20px; 
    vertical-align: middle;
    padding-left: 3px;
}

.vehicle-table th{
    text-align: center;
    background-color: #fff4cc;
    vertical-align: middle;  
    border: 1px solid #000000;  
    min-height: 25px;
    line-height: 25px;        
    text-align: center;
}
.vehicle-table td {
    border: 1px solid #000;
    text-align: left;
    min-height: 20px; 
    vertical-align: middle;
    padding-left: 3px;
}

.dry-table th{
    text-align: center;
    background-color: #fff4cc;
    vertical-align: middle;  
    border: 1px solid #000000;  
    min-height: 25px;
    line-height: 25px;        
    text-align: center;
}
.dry-table td {
    border: 1px solid #000;
    text-align: left;
    min-height: 20px; 
    vertical-align: middle;
    padding-left: 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    grid-gap: 5px;
    margin-top: 5px;
}
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px;
    margin-top: 5px;
}

.vehicle-standard-table{
    border-collapse: collapse;
    border: 1px solid #000;
}
.vehicle-standard-table th{
    border: 1px solid #000;
    text-align: center;
    background-color: #ffc600;
}
.vehicle-standard-table td{
    border: 1px solid #000;
    padding-left: 2px;
}

.sample-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
.sample-table th{
    border: 1px solid #000;
    text-align: center;
    background-color: #fff4cc;
}
.sample-table td{
    border: 1px solid #000;
    padding-left: 2px;
}

.title-3{
    margin-top: 0px; 
    margin-bottom: 0px; 
    text-align: center; 
    background-color: #fff4cc; 
    border-top: 1px solid #000000; 
    border-left: 1px solid #000000; 
    border-right: 1px solid #000000;
}
</style>

<div>
    <h2 class="title">{% translate "General Information" %}</h2>
    <div class="flexbox-info" style="margin-bottom: 0px;">
        <div>
            <p>HARVEST: </p>
            <p>STATUS: </p>
            <p>VARIETY: </p>
            <p>ORCHARD: </p>
            <p>CERTIFICATION: </p>
            <p>WHEIGHING RECORD: </p>
            <p>BOXES: </p>
            <p>MAXIMUM RESIDUE LIMIT (MRL): </p>
        </div>
        <div>
            <p>REGISTRATION DATE: </p>
            <p>MARKET: </p>
            <p>MASS VOLUME: </p>
            <p>ORCHARD CERTIFICATION: </p>
            <p>CERTIFICATION N°: </p>
            <p>WHEIGHING SCALE: </p>
            <p>HARVEST TYPE: </p>
            <p>GUIDE N°: </p>
        </div>
        <div style="margin-bottom: 0px;">
            <p>HARVEST DATE</p>
            <p>PRODUCT</p>
            <p>HARVEST SIZE</p>
            <p>PHYTOSANITARY CERTIFICATE</p>
            <p>GGN: </p>
            <p>PUBLIC WHEIGHING: </p>
            <p>PACKAGING WHEIGHT: </p>
            <p>SAMPLE WEIGHT: </p>
        </div>
    </div>
    <p style="margin-top: 0px; border-bottom: 1px solid black; width: 100%; text-align: left;">{% translate "GATHERER OBSERVATIONS:" %}</p>
    <p style="border-bottom: 1px solid black; width: 100%; text-align: left;">{% translate "WHEIGHING OBSERVATIONS:" %}</p>
</div>

<div>
    <h2 class="title-2">{% translate "CREW INFORMATION" %} </h2>
    <table class="crew-table">
        <thead>
            <tr>
                <th>{% translate "COMPANY" %}</th>
                <th>{% translate "CREW CHIEF" %}</th>
                <th>{% translate "CERTIFICATION" %}</th>
                <th>{% translate "N° OF PEOPLE" %}</th>
                <th>{% translate "OBSERVATIONS" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2 class="title-2">{% translate "VEHICLES USED BY CREW" %} </h2>
    <table class="vehicle-table">
        <thead>
            <tr>
                <th>{% translate "VEHICLE TYPE" %}</th>
                <th>{% translate "LICENSE PLATE" %}</th>
                <th>{% translate "VECHICLE STATUS" %}</th>
                <th>{% translate "BOX STATUS" %}</th>
                <th>{% translate "OBSERVATIONS" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2 class="title-2">{% translate "DRY MATTER" %}</h2>
    <table class="dry-table">
        <thead>
            <tr>
                <th>{% translate "FRUIT WEIGHT" %}</th>
                <th>{% translate "PAPER WHEIGHT" %}</th>
                <th>{% translate "HUMIDITY WEIGHT" %}</th>
                <th>{% translate "DRY WEIGHT" %}</th>
                <th>{% translate "DRY MATTER" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p style="border-bottom: 1px solid black; width: 100%; text-align: left;">{% translate "AVERAGE DRY MATTER:" %}</p>
    <p style="border-bottom: 1px solid black; width: 100%; text-align: left;">{% translate "ACCEPTENCE REPORT:" %}</p>
</div>

<div>
    <h2 class="title-2">{% translate "INTERNAL FRUIT INSPECTION" %} </h2>
    <table class="inspection-table">
        <thead>
            <tr>
                <th>{% translate "ID SAMPLE" %}</th>
                <th>{% translate "BORER WORM" %}</th>
                <th>{% translate "INTERNAL TEMPERATURE" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p style="border-bottom: 1px solid black; width: 100%; text-align: left;">{% translate "AVERAGE TEMPERATURE:" %}</p>
</div>

<div style="page-break-before: always;">
    <div class="flexbox-info-2">
        <div>
            <p>{% translate "DATE:" %}</p>
            <p>{% translate "LOT N°:" %}</p>
            <p>{% translate "ORCHARD:" %}</p>
            <p>{% translate "ORCHARD CERTIFICATION:" %}</p>
            <p>{% translate "MARKET:" %}</p>
        </div>
        <div>
            <p>{% translate "STATUS:" %}</p>
            <p>{% translate "MERMA:" %}</p>
            <p>{% translate "ADDRESS:" %}</p>
            <p>{% translate "PRODUCER:" %}</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<div class="grid-container" style="margin-top: 10px;">
    <table class="vehicle-standard-table">
        <thead>
            <tr>
                <th style="width: 30%;">{% translate "TRANSPORT INSPECTION:" %} {{vehicle}}</th>
                <th style="width: 10%;">{% translate "MEETS STANDARS" %}</th>
                <th style="width: 10%;">{% translate "DOES NOT MEET STANDARS" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% translate "The transport is properly sealed." %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    {% blocktranslate %}
                        The transport contains only {{product}}.
                    {% endblocktranslate %}
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "The transport is free of foreign elements." %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "The transport is free of unusual odors." %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "BICO/COPREF/CERTIFICATE is provided." %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "The transport is free of fecla matter" %}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="vehicle-standard-table">
        <thead>
            <tr>
                <th style="width: 30%;">{% translate "TRANSPORT STATUS" %}</th>
                <th style="width: 10%;">{% translate "YES" %}</th>
                <th style="width: 10%;">{% translate "NO" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% translate "Clean" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "In good condition" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "Torn" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "Damaged" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "Stamp #" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{% translate "Stamp" %}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 10px;">
    <h2 class="title" style="margin-bottom: 0px;">{% translate "Sample Test" %}</h2>
    <div style="display: flex; margin-top: 0px; gap:0px;">
        <p style="flex: 80%;">
            {% blocktranslate %}
                Select a random sample of {{ product }} and determine the following percentages.
            {% endblocktranslate %}
        </p>
        <p style="flex: 10%; padding-right: 0px;">{% translate "Sample Size:" %}</p>
        <p style="margin-top: 0px; border-bottom: 1px solid black; width: 20%; padding-left: 0px;"> &nbsp;</p>
    </div>
</div>

<div class="grid-container-2" style="margin-top: 0px;">
    <table class="sample-table">
        <thead>
            <tr>
                <th style="width: 30%;">{% translate "DAMAGE TYPE" %}</th>
                <th style="width: 40%;">{% translate "DESCRIPTION" %}</th>
                <th style="width: 15%;">{% translate "QUANTITY" %}</th>
                <th style="width: 15%;">{% translate "%" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5" style="text-align: center; vertical-align: center;">{% translate "Mechanic" %}</td>
                <td>{% translate "Sun Damage" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Sharp Cut" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Bruises" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Friction Damage" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Trimming" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="6" style="text-align: center; vertical-align: center;">{% translate "Pathologies" %}</td>
                <td>{% translate "Smallpox" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Live Smallpox" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Dry Smallpox" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Chickenpox" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Chickenpox" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Scabies" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: center;">{% translate "Waste" %}</td>
                <td>{% translate "Lime or copper" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="4" style="text-align: center; vertical-align: center;">{% translate "Plags" %}</td>
                <td> {% translate "Scales pests" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Borer Worm" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Thrips pests" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% translate "Scaled worm" %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr
        </tbody>
    </table>
    
    <div>
        <h3 class="title-3">{% translate "WHEIGHT" %}</h3>
        <table class="sample-table" style="margin-bottom: 15px;">
            <thead>
                <tr>
                    <th style="width: 60%;">{% translate "PRODUCT SIZE" %}</th>
                    <th style="width: 20%;">{% translate "QUANTITY" %}</th>
                    <th style="width: 20%;">%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">{% translate "Total Samples:" %}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <table class="sample-table">
            <thead>
                <tr>
                    <th style="width: 60%;">{% translate "SENSORY CRITERIA" %}</th>
                    <th style="width: 20%;">{% translate "YES" %}</th>
                    <th style="width: 20%;">{% translate "NO" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% translate "Intact" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{% translate "Foreign matter" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{% translate "Insects" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{% translate "Heat Damage" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{% translate "Unusual odors" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{% translate "Free of humidity" %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    
    </div>
</div>

<div style="margin-top: 10px;">
    <table class="sample-table">
        <thead>
            <tr>
                <th style="width: 50%; background-color: #ffc600;">{% translate "FRUIT DESTINATION" %}</th>
                <th style="width: 50%; background-color: #ffc600;">{% translate "FRUIT STATUS" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock page_content %}