<!-- Reporte de Pesadas en Reciba -->
{% extends "admin/packhouses/header-footer.html" %}
{% load i18n %}

{% block page_content %}
    {% load static %}
<style>
  @font-face {
    font-family: 'Futura';
    src: url('../../../static/fonts/Futura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Futura', sans-serif;
  }

/* Secciones generales */
.information-section {
    width: 100%;
    margin-bottom: 5px;
    font-size: 7pt !important;
}

/* Tabla de folios */
.folio-table {
    font-size: 7pt;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    border-collapse: separate; 
}

.folio-table tr {
    margin-top: 0px;
    height: 15px;
}

.folio-table td {
    margin-top: 0px;
    line-height: 15px;
    padding: 0;
    overflow: hidden;
}

.first-header {
    width: 5%;
    align-items: center;
}

/* Estilos para sección de información */
.div-table {
    width: 100%;
    text-align: left; 
    font-size: 10px; 
    margin-bottom: 0px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 100%;
    margin-bottom: 10px;
}

.info-row {
    display: flex;
    gap: 5px;
    
}

.info-item {
    flex: 1; 
    border-bottom: 1px solid #000000; 
    text-align: left;
}

.total_table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.total_table td {
    font-size: 8pt;
    min-height: 10px;
    line-height: 10px;
    border: none;
    padding: 4px 6px; 
}


/* Estilos para tabla general */
.table_form {
    width: 100%;
    border-collapse: collapse;
    margin-top: 6px;
    table-layout: auto; 
    
}

.table_form th, 
.table_form td {
    border: 1px solid #000000;
    text-align: left;
    white-space: normal; 
}

.table_form th {
    background-color: #ffc600;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.table_form td {
    word-wrap: break-word; 
    max-width: 200px; 
    text-align: left;
    vertical-align: top;
    padding-left: 4px;
}
.table_form tbody td:first-child {
    text-align: center;
}

tr {
    page-break-inside: avoid; 
}

/* Estilos para tabla de totales */
.total_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 8px;
    margin-top: 20px;
}

/* Estilos para celdas dentro de .total_table */
.total_table td {
    border: 1px solid #000000;
    text-align: left;
}

.row-two {
  display: grid;
  grid-template-columns: 50% 50%;
}

.row-two p {
    font-size: 7pt;
  margin: 0;
  border-bottom: 1px solid #000;
}

/* Filas y columnas */
.row {
    display: grid;
    margin-top: 5px;
}

.row-four {
    grid-template-columns: repeat(4, 1fr);
    margin: 1px;
}


.row p {
    margin: 0;
    border-bottom: 1px solid #000;
}

.row p strong {
    font-weight: bold;
}

</style>

<div style="margin-top: 0px;">
<table style="margin-top: 0px;" class="folio-table">
    <tr>
        <td style="width: 20%; border-left: 10px solid #123782; background-color: #ffc600;">{% translate "Harvest No." %}</td>
        <td style="width: 20%; color:#b30000; background-color: #fff4cc;"> {{ harvest.ooid }}</td>
        <td style="width: 60%;"></td>
    </tr>
    <tr>
        <td style="width: 20%; border-left: 10px solid #123782; background-color: #ffc600;">{% translate "Harvest Schedule Date" %}</td>
        <td style="width: 20%; color:#b30000; background-color: #fff4cc;"> {{ harvest.harvest_date }}</td>
        <td style="width: 60%;"></td>
    </tr>
    <tr>
        <td style=" width: 20%; border-left: 10px solid #123782; background-color: #ffc600;">{% translate "Harvest Reception Date" %}</td>
        <td style=" width: 20%; color: #b30000; background-color: #fff4cc;"> {{ harvest.created_at }}</td>
        
    </tr>
</table>
</div>

<div class="information-section">
    <div class="row row-four">
        <p><strong>{% translate "Orchard:" %} </strong>{{harvest.orchard.name}}</p>
        <p><strong>{% translate "Product:" %} </strong>{{harvest.product}}</p>
         <p>
            {% if harvest.category == 'gathering' %}
            <strong>{% translate "Gatherer:" %}</strong> {{ harvest.gatherer }}
            {% elif harvest.category == 'maquila' %}
            <strong>{% translate "Maquiladora:" %}</strong> {{ harvest.maquiladora }}
            {% else %}
                {% translate "No Data" %}
            {% endif %}
        </p>
        <p><strong>{% translate "Scheduling Type:" %}</strong>
            {% if harvest.is_scheduled %}
                {% translate "Scheduled Harvest" %}
            {% else %}
                {% translate "Unscheduled Harvest" %}
            {% endif %}
        </p>
    </div>
    <div class="row row-four">
        <p><strong>{% translate "Registery Code:" %} </strong>{{harvest.orchard.code}}</p>
        <p><strong>{% translate "Product Variety:" %} </strong>{{harvest.product_variety}}</p>
        <p><strong>{% translate "Product Producer:" %} </strong>{{ harvest.orchard.producer }}</p>
        <p><strong>{% translate "Creation Date:" %}</strong> {{harvest.created_at}}</p>
     </div>
     <div class="row row-four">
        <p>&nbsp;</p>
        <p><strong>{% translate "Product Phenology:" %} </strong>{{harvest.product_phenology}}</p>
        <p><strong>{% translate "Product Provider:" %} </strong>{{harvest.product_provider}}</p>
        <p><strong>{% translate "Harvest Size:" %}</strong> {{harvest.product_harvest_size_kind}}</p>

     </div>
     <div class="row row-four">
        <p><strong>{% translate "Safety Reg. Date:" %} </strong>{{harvest.orchard.safety_authority_registration_date}}</p>
        <p><strong>{% translate "Product Category:" %}</strong>{{harvest.orchard.get_category_display}}</p>
        <p><strong>{% translate "Product Ripeness:" %}</strong>
            {% if harvest.product_ripeness %}
                {{ harvest.product_ripeness }}
            {% else %}
                
            {% endif %}
        </p>
        <p>&nbsp;</p>
      </div>
      <div class="row row-four">
        <p style="grid-column: span 4;"><strong>{% translate "Orchard Location:" %} </strong>{{harvest.orchard.district.name}}, {{harvest.orchard.city.name}}, {{harvest.orchard.state.name}}</p>
      </div>

      <div class="row row-four">
        <p style="grid-column: span 4;"><strong>{% translate "Orchard Certifications:" %} </strong>
            {% for certification in orchard_certifications %}
                {{ certification.certification_kind.name }} {{certification.certification_number}}{% if not forloop.last %} | {% endif %}
            {% empty %}
                {% translate "No Data" %}
            {% endfor %}
        </p>
      </div>
       <div class="row row-four">
        <p style="grid-column: span 4; margin-bottom: 7px;"><strong>{% translate "Comments:" %} </strong>
            {% if harvest.comments %}
                {{ harvest.comments }}
            {% else %}
                {% translate "No Comments" %}
            {% endif %}
        </p>
      </div>

</div>

<div class="div-table">
    <table class="table_form">
        <thead>
            <tr>
                <th class="first-header">{{ headers.0 }}</th> <!-- Clase para el primer header -->
                {% for header in headers|slice:"1:" %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{ item|safe }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>

<div class="div-total">
    <table class="total_table">
        <tbody>
            {% for label, total in totals.items %}
            <tr>
                <td style="width: 25%;"><strong> {{ label }}</strong></td>
                <td style="padding-left: 5px;">{{ total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock page_content %}
