{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {{ block.super }}

    <style>
        #api-data-table {
            margin-top: 20px;
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        #api-data-table th, #api-data-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        #api-data-table th {
            background-color: #002f6c;
            color: white;
            font-weight: bold;
        }

        #api-data-table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .actions {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .actions i {
            cursor: pointer;
            font-size: 16px;
        }

        .print-icon { color: blue; }
        .edit-icon { color: green; }
        .delete-icon { color: red; }
    </style>

    <table id="api-data-table">
        <thead>
            <tr>
                <th>Formatos</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los datos se llenarán con JavaScript -->
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {

            let pathArray = window.location.pathname.split('/');
            let certificationEntityId = pathArray[4];

            const apiUrl = `http://uno.dev.certiffy.net:8000/rest/v1/requirement-certification?certification_entity=${certificationEntityId}`;
   
            console.log(certificationEntityId);
            
            if(!isNaN(certificationEntityId)){
                fetch(apiUrl)  // Cambia la URL a la de tu API
                    .then(response => response.json())
                    .then(data => {
                        let tableBody = document.querySelector("#api-data-table tbody");
                        data.results.forEach(item => {
                            let nameLink = item.route ? `<a href="${item.route}" target="_blank" download>${item.name}</a>` : item.name;
                            let row = `<tr>
                                <td>${nameLink}</td>
                            </tr>`;
                            tableBody.innerHTML += row;
                        });
                    })
                    .catch(error => console.error("Error al obtener los datos:", error));
            } else {
                console.error("No se encontró un ID válido en la URL");
            }

            function printDocument(url) {
                let printWindow = window.open(url, '_blank');
                if (printWindow) {
                    printWindow.focus();
                } else {
                    alert("Por favor, permite las ventanas emergentes para imprimir.");
                }
            }
        });
    </script>
{% endblock %}