<!--Requisición de ventas-->
{% extends "admin/packhouses/header-footer.html" %}
{% load i18n %}

{% block page_content %}
{% load static %}
<style>
  @font-face {
    font-family: 'Futura';
    src: url('../../../../application/static/fonts/futura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Futura', sans-serif;
  }

  .folio-table {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-collapse: collapse;
  }

  .folio-table tr {
    height: 25px;
  }

  .folio-table td {
    line-height: 25px;
    padding: 0;
    overflow: hidden;
  }

  .table_form {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
  }

  /* Aplanando la anidación */
  .table_form th,
  .table_form td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
  }

  .table_form th {
    background-color: #ffc600;
    color: #000000;
    font-weight: bold;
  }

  .table_form tr {
    page-break-inside: avoid;
  }

  .table_form thead {
    display: table-header-group;
  }

  .table_form tbody {
    display: table-row-group;
  }

  .signature-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
  }

  .signature-line {
    align-items: center;
    align-content: center;
    width: 40%;
    border-bottom: 1px solid #000;
    margin-top: 5px;
    padding-bottom: 5px;
  }

  .signature label {
    font-size: 8px;
    font-weight: bold;
  }
</style>


<table class="folio-table">
    <tr>
        <td style="width: 10%; border-left: 10px solid #123782; background-color: #ffc600;">{% translate "Folio" %}</td>
        <td style="width: 20%; color:red; background-color: #fff4cc;"> {% translate "N°" %} {{ purchase_order.ooid }}</td>
        <td style="width: 70%;"></td>
    </tr>
</table>

<div>
<p><span style="font-weight: 500;">{{ provider_text }}: </span> {{ purchase_order.provider }}</p>
<p><span style="font-weight: 500;">{{ order_date_text }}: </span> {{purchase_order.created_at}} Hrs.</p>
<p><span style="font-weight: 500;">{{ payment_date_text }}: </span> : {{ purchase_order.payment_date }} </p>

<table class="table_form">
    <thead>
        <tr>
            <th>{% translate "Supply" %}</th>
            <th>{% translate "Quantity" %}</th>
            <th>{% translate "Unit price" %}</th>
            <th>{% translate "Total" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in formatted_supply_values %}
        <tr>
            <td> {{ item.supply }} </td>
            <td style="text-align: center;"> {{ item.quantity }} </td>
            <td style="text-align: center;">${{ item.unit_price|default:"0.00" }} {{ currency }}</td>
            <td style="text-align: center;">${{ item.total_price|default:"0.00" }} {{ currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;">{% translate "SUBTOTAL:" %}</td>
            <td style="text-align: center;">${{ subtotal }} {{ currency }}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">{% translate "TAX" %} ({{ percentage_tax }} %):</td>
            <td style="text-align: center;">${{ tax }} {{ currency }}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right; font-weight: bold;">{% translate "TOTAL:" %}</td>
            <td style="text-align: center; font-weight: bold;">${{ total }} {{ currency }}</td>
        </tr>
    </tfoot>
</table>
</div>

<div class="signature-container">
    <div class="signature-line"> </div>
    <label>
      {{ applicant_name }}<br>{{ applicant_email }}
    </label>
</div>
{% endblock page_content %}
