<!--Orden de Corte-->
{% extends "admin/packhouses/header-footer.html" %}
{% load i18n %}

{% block page_content %}
{% load static %}

<style>
    table.header-table {
            margin-bottom: 0px !important;
        }
.title{
        display: flex;
        background-color: #ffc600;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        h2{
            font-size: 10pt;
        }
    }

.title-2{
    display: flex;
    background-color: #ffc600;
    width: 33%;
    height: 35px;
    padding-left: 2px;
    border-left: 10px solid #123782;  
    align-items: center;      
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 100%;
}

.info-row {
    display: flex;
    gap: 5px;
    
}

.info-item {
    flex: 1; 
    border-bottom: 1px solid #000000; 
    text-align: left;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.transport-info-table{
    width: 100%;
    border-collapse: collapse;
    
}

.transport-info-table th, 
.transport-info-table td {
    border: 1px solid #000;
    text-align: left;
    min-height: 20px; 
    vertical-align: middle;
    padding-left: 3px;
}

.transport-info-table th {
    background-color: #fff4cc;
    vertical-align: middle;  
    border: 1px solid #000000;  
    min-height: 25px;
    line-height: 25px;        
    text-align: center;  
}

.transport-info-table tbody tr:nth-child(even) {
    background-color: #fffdf8; 
    min-height: 20px; 
    vertical-align: middle;
}

.crew-item {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    border: 1px solid #123782; 
    border-radius: 5px; 
    margin-bottom: 10px;
}

.provider, .crew {
    width: 48%; 
}

.print-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 30%; 
    border: 2px solid #091941;
}

.qr-space {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #091941;
}

.data-space {
    flex: 1;
    padding: 10px;
}

</style>

<div style="margin-top: 0px;">
    <h2 class="title">{% translate "General Information" %}</h2>
</div>

<div>
    <div class="info-container">
        <div class="info-row">
            <div class="info-item">{% translate "Harvest Date: " %}{{harvest.harvest_date}}</div>
            <div class="info-item">{% translate "Provider:" %} {{harvest.product_provider}}</div>
            <div class="info-item">{% translate "Category" %}: {{harvest.category}}</div>
        </div>
    
        <div class="info-row">
            {% if harvest.category == 'gathering' %}
                <div class="info-item">{% translate "Gatherer:" %}{{ harvest.gatherer }}</div>
            {% elif harvest.category == 'maquila' %}
                <div class="info-item">{% translate "Maquiladora:" %} {{ harvest.maquiladora }}</div>
            {% else %}
                <div class="info-item">""</div>
            {% endif %}
            <div class="info-item">{% translate "Product:" %} {{harvest.product}}</div>
            <div class="info-item">{% translate "Variety:" %} {{harvest.product_variety}}</div>
        </div>
    
        <div class="info-row">
            <div class="info-item">{% translate "Season:" %} {{harvest.product_season_kind}}</div>
            <div class="info-item">{% translate "Harvest Size:" %} {{harvest.product_harvest_size_kind}}</div>
            <div class="info-item">{% translate "Orchard:" %} {{harvest.orchard}}</div>
        </div>
    
        <div class="info-row">
            <div class="info-item">{% translate "Market:" %} {{harvest.market}}</div>
            <div class="info-item">{% translate "Expected Weight:" %} {{harvest.weight_expected}} KG</div>
            <div class="info-item">{% translate "Weight Scale:" %} {{harvest.weighing_scale}}</div>
        </div>
    
        <div class="info-row">
            <div class="info-item">{% translate "Meeting Point:" %} {{harvest.meeting_point}}</div>
            <div class="info-item"></div> 
            <div class="info-item">{% translate "Status:" %} {{harvest.status}}</div>
        </div>
    </div>
</div>

<div>
    <h3 class="title-2">{% translate "Crew Information" %}</h3>
    <div class="crew-info">
        {% for item in scheduleharvestharvestingcrewinline %}
        <div class="crew-item">
            <div class="provider">
                <strong>{% translate "Harvesting Crew Provider:" %}</strong> {{ item.provider }}
            </div>
            <div class="crew">
                <strong>{% translate "Crew:" %}</strong> {{ item.harvesting_crew }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div>
    <h3 class="title-2">{% translate "Transport Information" %}</h3>
    <table class="transport-info-table">
        <thead>
            <tr>
                <th style="width: 25%;">{% translate "Vehicle/Crew Provider" %}</th>
                <th style="width: 25%;">{% translate "Vehicle" %}</th>
                <th>{% translate "Stamp Number" %}</th>
                <th>{% translate "Container" %}</th>
                <th style="width: 10%; text-align: center;">{% translate "Quantity" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in scheduleharvestvehicleinline %}
                {% with containers=vehicle.scheduleharvestcontainervehicle_set.all %}
                {% with container_count=containers|length %}
                    <tr>
                    <td rowspan="{{ container_count|default:1 }}">{{ vehicle.provider.name }}</td>
                    <td rowspan="{{ container_count|default:1 }}">{{ vehicle.vehicle.name }}</td>
                    <td rowspan="{{ container_count|default:1 }}">{{ vehicle.stamp_number }}</td>
                    
                    {% if container_count > 0 %}
                        {% for container in containers %}
                            {% if forloop.first %}
                                <td>{{ container.harvest_cutting_container.name }}</td>
                                <td style="text-align: center;">{{ container.quantity }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ container.harvest_cutting_container.name }}</td>
                                <td style="text-align: center;">{{ container.quantity }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td>&nbsp;</td>
                        <td style="text-align: center;">&nbsp;</td>
                    </tr>
                    {% endif %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </tbody>
        
    </table>
</div>

<div class="print-container">
    <div class="qr-space">
       
    </div>

    <div class="data-space">
        <p><strong>{% translate "Product:" %}</strong>{{harvest.product}} </p>
        <p><strong>{% translate "Product Variety:" %} </strong>{{harvest.product_variety}}</p>
        <p><strong>{% translate "Total of Boxes:" %} </strong>{{total_box}}</p>
        <p><strong>{% translate "Expected Weight:" %} </strong>{{harvest.weight_expected}} KG</p>
    </div>
</div>


{% endblock page_content %}