/* Alinenar verticalmente las celdas */
.inline-group table td {
    vertical-align: middle !important;
}


/* inputs y párrafos alineados */
.inline-group table input[type="text"],
.inline-group table input[type="time"],
.inline-group table p {
    display: flex;
    margin: 0;  
}

/* Centrar los checkboxes */
.inline-group table input[type="checkbox"] {
    display: block;
    margin: auto;
}

/* Evitar saltos de linea */
.inline-group table td span {
    white-space: nowrap; 
}

