/* Cambiar el color de fondo de la barra lateral */
.main-sidebar {
    background-color: #0e1e3f !important;
}

/* Cambiar el color del texto de los enlaces de la barra lateral */
.main-sidebar a {
    color: #ecf0f1 !important;
}

/* Cambiar el color de los enlaces activos en la barra lateral */
.main-sidebar .active a {
    background-color: #0e1e3f !important;
    color: #ffffff !important;
}
