<!--Formato de Buenas Prácticas-->
{% extends "admin/packhouses/header-footer.html" %}
{% load i18n %}

{% block page_content %}
{% load static %}
<style>

    table.header-table .center h1 {
        margin: 10px 0 !important;
        font-size: 10pt !important;
    }
    .information-section, .harvest_section, .substance_section,
    .guideline_section, .signature_section, .harvest-information{
        width: 100%;
        margin-bottom: 15px;
    }
    .first_row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .first_row p {
        flex: 1 1 22%;
        border-bottom: 1px solid #000;
        padding: 5px 0;
        text-align: left;
        margin: 0;
    }
    .data_information {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .data_information p {
        flex: 1 1 30%;
        border-bottom: 1px solid #000;
        padding: 5px 0;
        text-align: left;
        margin: 0;
    }

    .data_information br {
        width: 100%;
    }
    .title{
        display: flex;
        background-color: #ffc600;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            font-size: 10pt;
        }
    }
    .guideline_table_subtitle{
        background-color: #fff4cc;
        padding: 8px;
        font-weight: bold;
        border-bottom: 1px solid black;
    }
    .subtitle-table{
        background-color: #ffc600;
        padding: 8px;
        font-weight: bold;
    }
    .harvest-information-table, .substance-section-table{
        border-collapse: collapse;
        width: 100%;
        td{
            border: 1px solid #000;
            text-align: center;
            padding: 3px;
        }
    }
    .circle {
        width: 15px;
        height: 15px;
        border: 2px solid #000;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
        margin-top: 5px;
    }
    .guideline_table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 7pt;
        .td-option{
            border: 1px solid black;
            padding: 2px;
        }
    }
    .double-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .folio-table{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        border-collapse: collapse;
    }
    .comment{
        width: 100%;
        p{
            border-bottom: 1px solid black;
            padding: 6px;
        }
    }
    .signature{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        margin-top: 5px;
        text-align: center;
    }
</style>

{% for crew in scheduleharvestharvestingcrewinline %}

<table class="folio-table">
    <tr>
        <td style="width: 10%; padding: 10px; border-left: 10px solid #123782; background-color: #ffc600;">Folio</td>
        <td style="width: 20%; color:red; background-color: #fff4cc;"> N° {{ crew.id }}</td>
        <td style="width: 70%;"></td>
    </tr>
</table>

<div class="information-section">
    <div class="title">
        <h2>General Information</h2>
    </div>
    <div class="first_row">
      <p>No. Harvest: <span style="color:red;">{{ harvest.id }}</span></p> <p>Collector: {{ harvest.gatherer|default:'' }} </p>  <p>Crew: {{ crew }} </p> <p>Telephone: {{ crew.provider.phone_number }}</p>
    </div>
    <div class="data_information">
        <p>Arrival time: {{ time_arrive}} </p><p>Departure time: {{ time_arrive}} </p> <p>Date: {{ harvest.harvest_date }} </p>
        <p>Producer: {{ crew.orchard.producer.name }} </p> <p>Orchard: {{ orchand }} </p> <p></p>
        <p>Location: {{location}} </p> <p>Orchard Certification: {{orchand_certification}} </p> <p></p>
        <p>Comments: </p> <p>Harvest Type:</p><p>Candado N°: {{ candado}} </p>
        <p>Operador: {{operador}} </p><p>License plate: {{ license_plate }} </p> <p>Full Boxes: {{ boxes }} </p>
        <p>Destination: {{ destination }} </p> <p>Meeting Point: {{ meeting_point }} </p>
        <p></p>
    </div>
</div>

<div class="harvest-information">
    <table class="harvest-information-table">
        <tr class="subtitle-table">
            <td rowspan="2" colspan="2" style="width: 40%;"> Harvester's Name</td>
            <td colspan="2">Factor</td>
            <td colspan="3">Fruit/Box</td>
            <td rowspan="2" style="width: 10%;">Price</td>
            <td rowspan="2" style="width: 10%;">Kg</td>
            <td rowspan="2" style="word-break:normal; width: 8%;">Boxes Harvested</td>
        </tr>
        <tr class="subtitle-table">
            <td>Exp.</td>
            <td>Nat.</td>
            <td>Trimming</td>
            <td>Mishandling</td>
            <td>Out of Size</td>
        </tr>
        {% for x in rows_harvest_detail %}
        <tr>
            <td style="width: 5%;">{{ forloop.counter }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="substance-section">
    <table class="substance-section-table">
        <tr>
            <td class="subtitle-table" colspan="15" style="padding: 10px;">
                Water Managment - Preparation and Monitoring of Substances
            </td>
        </tr>
        <tr>
            <td style="width: 20%;">Equipped with Monitoring Equipment</td>
            <td style="width: 30%;"colspan="5">Preparation</td>
            <td style="width: 30%;"colspan="5">Monitoring</td>
            <td style="width: 20%;" rowspan="3">Signature of the Person Who Performed It</td>
        </tr>
        <tr>
            <td rowspan="2">
                    <label>
                        YES<span class="circle si"></span>
                    </label>
                    <label>
                        NO<span class="circle no"></span>
                    </label>
            </td>
            <td rowspan="2"> Hour </td>
            <td rowspan="2"> Volume to Prepare</td>
            <td rowspan="2"> PH </td>
            <td rowspan="2"> ML Applied</td>
            <td rowspan="2"> Hour </td>
            <td rowspan="2"> PPM. Detected</td>
            <td colspan="2"> Needs Corrective Action</td>
            <td rowspan="2"> ML Aplied</td>
            <td rowspan="2"> PPM. Detected</td>
        </tr>
        <tr>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Punto de Muestreo</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td>Conditioning (Container)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
            <td>Sanitizing Agent (Sprayer)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <tr>
            <td colspan="15" style="text-align: left;">Products Used: </td>
        </tr>
    </table>
</div>

<div class="guideline_section">
    <div class="title">
        <h2>Preventive Guidelines Before, During, and After Harvest <br>(As indicated below: Yes or No, as appropriate)</h2>
    </div>
    <div class="grid-container">
        <!-- Tabla 1 -->
        <table class="guideline_table">
            <tr>
                <td class="guideline_table_subtitle" colspan="3">Health, Hygiene, and Safety of Personnel</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean staff</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Hair and nails trimmed</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Jewelry worn</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Proper shirt, pants, and footwear</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Proper hand washing</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Food was consumed in harvest area</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Hive presence</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Appearance of electric wires</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">A fully equipped first aid kit is available</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Personnel under the influence of substances and/or alcohol.</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Sick and/or injured personnel</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
        </table>
        <!-- Tabla 3 -->
        <table class="guideline_table">
            <tr>
                <td class="guideline_table_subtitle" colspan="3">3.- Orchand Inspection</td>
            </tr>
            <tr>
                <td style="width: 80%;">The orchard follows a food safety program</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Meets the safety interval requirements</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td colspan="3" style="width: 80%; border-bottom: 1px solid black;">Applied product: </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 80%; border-bottom: 1px solid black;">Application date: </td>
            </tr>
            <tr>
                <td style="width: 80%;">Harvest area inspected</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Presencia de basura</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Presencia de animales y/o materia fecal</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">The orchard's restroom was inspected</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Restroom clean and leak-free</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Equipped with handwashing supplies</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Restroom water quality, potable (in PPM)</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">The orchard's dining area was inspected</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean table</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean grill</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Trash container available</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">The facilities were cleaned and organized after finishing</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">The fire pit was extinguished</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
        </table>
        <!-- Tabla 5 y 6 -->
        <div class="double-table">
            <!-- Tabla 5 -->
            <table class="guideline_table">
                <tr>
                    <td class="guideline_table_subtitle" colspan="3">5.- Vehicle Hygiene</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Clean Truck</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Presence of odors and/or trash</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Muddy or mesh-covered truck</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Leakage of fuel and/or oil</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Operator</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Trailer</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
            </table>
            <!-- Tabla 6 -->
            <table class="guideline_table">
                <tr>
                    <td class="guideline_table_subtitle" colspan="3">6.- Sanitary Hygiene</td>
                </tr>
                <tr>
                    <td style="width: 80%;">A sanitary facility was used for no more than 20 people</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">The hand washing station was the only one installed</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Sets up a fully equipped restroom</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Is equipped with all necessary hygiene materials and supplies</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Cleaned and sanitized the workbench</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
                <tr>
                    <td style="width: 80%;">Lime was applied and the pit was sealed</td>
                    <td class="td-option">Yes</td>
                    <td class="td-option">No</td>
                </tr>
            </table>
        </div>
        <!-- Tabla 2 -->
        <table class="guideline_table">
            <tr>
                <td class="guideline_table_subtitle" colspan="3">2.- Tools Maintenance and Hygiene </td>
            </tr>
            <tr>
                <td style="width: 80%;">Cleaned and disinfected scissors</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Cleaned and disinfected hooks</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean and sanitized bags and nets</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Empty bags</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Cleaning and disinfection of the bin</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Cleaning and disinfection of sprayers</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean sanitation compartment</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Leak-free and clean water collection vessel</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Clean tool carrying bags and containers</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Well-organized personnel transport</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Measures are taken to keep cutting tools separate from safety gear and sanitary facilities</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
        </table>
        <!-- Tabla 4 -->
        <table class="guideline_table">
            <tr>
                <td class="guideline_table_subtitle" colspan="3">4.- Guidelines for measures during harvest process</td>
            </tr>
            <tr>
                <td style="width: 80%;">The producer or supervisor was present</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Isolate dirty or damaged boxes</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Inspected the proper stacking of boxes</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Fruit harvested and trimmed from the top</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Fruit transferred from bag to box</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Fruit is stored in a sheltered space</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Fruit that touched the ground was collected</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
            <tr>
                <td style="width: 80%;">Contact between cutting tools and the ground is avoided</td>
                <td class="td-option">Yes</td>
                <td class="td-option">No</td>
            </tr>
        </table>
        <!-- Tabla 6 -->
        <table class="guideline_table">
            <tr>
                <td class="guideline_table_subtitle" colspan="3">7.-Inventory of Materials</td>
            </tr>
        </table>
    </div>
</div>

<div class="signature_section">
    <div class="comment">
        <h2>Observations</h2>
        <p></p>
        <p></p>
    </div>
    <p style="margin-bottom: 50px;">
        To the producer or fruit supervisor: In order to ensure the quality and safety of the fruit, the points mentioned above were verified. We suggest checking
        the market, verify the number of boxes filled with fruit, check that the truck doors are closed, check the picking bags and the personnel's truck.
        If not, it will be your responsibility if an anomaly occurs.
        If you agree with the above, please write your name and sign in the indicated section.
    </p>
    <div class="signature">
        <p style="border-bottom: 1px solid black;"></p>
        <p style="border-bottom: 1px solid black;"></p>
        <p style="border-bottom: 1px solid black;"></p>
        <p style="border-bottom: 1px solid black;"></p>
        <p>Crew Leader</p>
        <p>Responsible Technician or Supervisor</p>
        <p>Transport Operator</p>
        <p>Producer and/or Orchard Manager</p>
    </div>

</div>

{% endfor %}

{% endblock page_content %}
