<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size:12px;
        }
        h1 {
            color: #2c3e50;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Información de la Cosecha #{{ harvest.ooid }}</h1>
    <table>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Fecha de cosecha</td>
            <td>{{ harvest.harvest_date }}</td>
        </tr>
        <tr>
            <td>Proveedor</td>
            <td>{{ harvest.product_provider }}</td>
        </tr>
        <tr>
            <td>Categoría</td>
            <td>{{ harvest.category }}</td>
        </tr>
        <tr>
            <td>Recolector</td>
            <td>{{ harvest.gatherer }}</td>
        </tr>
        <tr>
            <td>Maquiladora</td>
            <td>{{ harvest.maquiladora }}</td>
        </tr>
        <tr>
            <td>Producto</td>
            <td>{{ harvest.product }}</td>
        </tr>
        <tr>
            <td>Variedad</td>
            <td>{{ harvest.product_variety }}</td>
        </tr>
        <tr>
            <td>Temporada</td>
            <td>{{ harvest.product_season_kind }}</td>
        </tr>
        <tr>
            <td>Tamaño de cosecha</td>
            <td>{{ harvest.product_harvest_size_kind }}</td>
        </tr>
        <tr>
            <td>Huerto</td>
            <td>{{ harvest.orchard }}</td>
        </tr>
        <tr>
            <td>Mercado</td>
            <td>{{ harvest.market }}</td>
        </tr>
        <tr>
            <td>Peso esperado</td>
            <td>{{ harvest.weight_expected }} kg</td>
        </tr>
        <tr>
            <td>Báscula</td>
            <td>{{ harvest.weighing_scale }}</td>
        </tr>
        <tr>
            <td>Punto de encuentro</td>
            <td>{{ harvest.meeting_point }}</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>{{ harvest.status }}</td>
        </tr>
    </table>

    <h2>Inline Cuadrillas</h2>
    <table>
        <tr>
            <th>Proveedor de cuadrilla</th>
            <th>Cuadrilla</th>
        </tr>
        {% for item in scheduleharvestharvestingcrewinline %}
        <tr>
            <td>{{ item.provider }}</td>
            <td>{{ item.harvesting_crew }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Inline Vehiculos</h2>
    <table>
        <tr>
            <th>Proveedor de vehículo/cuadrilla</th>
            <th>Vehículo</th>
            <th>Número de sello</th>
        </tr>
        {% for item in scheduleharvestvehicleinline %}
        <tr>
            <td>{{ item.provider }}</td>
            <td>{{ item.vehicle }}</td>
            <td>{{ item.stamp_number }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Inline Cajas</h2>
    <table>
      <tr>
        <th>Vehículo</th>
        <th>Contenedor</th>
        <th>Cantidad</th>
      </tr>
        {% for item2 in scheduleharvestcontainervehicleinline %}
            <tr>
              <td>{{ item2.harvest_cutting }}</td>
              <td>{{ item2.harvest_cutting_container }}</td>
              <td>{{ item2.quantity }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>
