{% load i18n %}
{% load admin_urls %}

{% if has_export_permission %}
<button id="export-sheet" class="btn btn-info" style="margin-right: 10px;">
    <i class="fas fa-file-excel"></i> {% translate "Export Excel" %}
</button>
<button id="export-pdf" class="btn btn-info" style="margin-right: 10px;">
    <i class="fas fa-file-pdf"></i> {% translate "Export PDF" %}
</button>
{% endif %}

<script>
document.getElementById("export-sheet").addEventListener("click", function () {
    var baseUrl = "{% url opts|admin_urlname:'export' %}{{ cl.get_query_string }}";
    var url = new URL(baseUrl, window.location.origin);
    url.searchParams.set('export_type', 'export-sheet');
    window.open(url.href, '_blank');
});

document.getElementById("export-pdf").addEventListener("click", function () {
    var baseUrl = "{% url opts|admin_urlname:'export' %}{{ cl.get_query_string }}";
    var url = new URL(baseUrl, window.location.origin);
    url.searchParams.set('export_type', 'export-pdf');
    window.open(url.href, '_blank');
});
</script>
